/* You can add global styles to this file, and also import other style files */
img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  width: 25%;
  max-width: 300px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
  align-self: stretch;
}
.avatar {
  max-width: 200px;
  width: 100%;
}
